.notespage {
    height: 100vh;
}

.uploadnotescont {
    margin: 20px;
    background-color: aqua;
    width: max-width;
    height: auto;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: "Poppins", sans-serif;
}

.uploadnotescont h2{
    margin-left: auto;
}

.notesform form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }

  .notesform .form-group {
    margin-bottom: 20px;
  }
  
  .notesform label {
    font-weight: bold;
    margin-bottom: 5px;
    margin-right: 10px;
  }
  
  .notesform input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
    font-size: 16px;
  }

  .notesform button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 24px;
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .notesform button:hover {
    background-color: #45a049;
    transform: scale(1.1);
  }

  .noteslist{
    margin: 20px;
    background-color: aqua;
    width: max-width;
    height: auto;
    padding: 10px;
    background-color: #f4f4f4;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: "Poppins", sans-serif;
    display: flex;
    flex-wrap: wrap;
  }

  .waitstyle{
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 12px 24px;
    margin-top: 30px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: relative;
    top: 38px;
  }