.community{
    height: 100vh;
    width: max-width;
    background: color #f5f5f5;;
    padding: 10px;
    font-family: 'poppins', sans-serif;
}

.communitycont{
    margin: 20px;
    width:max-width;
    background-color: antiquewhite;
    border-radius: 10px;
    padding-top: 0;
    height: 95%;
}

.namebar{
    height: 10%;
    width: auto;
    display: flex;
    padding-left: 30px;
    padding-right: 10px;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(248, 218, 178);
    border-radius: 10px 10px 0px 0px;
}

.fabut{
    padding: 4px;
}

.content{
    max-height: 85%;
    overflow-y: auto;
    padding-bottom: 20px;
}

.popupcontent {
    background: antiquewhite;
    padding: 20px;
    border-radius: 8px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
    width: auto;
    padding-right: 25px;
  }
  
  .popupcontent h2 {
    font-size: 24px;
    margin-bottom: 10px;
    padding: 0;
  }
  
  .popupcontent h3 {
    font-size: 18px;
    color: #888;
  }
  
  .popupcontent form {
    margin-top: 15px;
  }
  
  .popupcontent textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 3px solid black;
    border-radius: 10px;
    resize: vertical;
    font-size: 20px;
    margin-right: 20px;
    font-family: "poppins", sans-serif;
  }
  
  .popupcontent button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: -20px;
    margin-bottom: 20px;
    float: right;
  }
  
  .popupcontent button:hover {
    background-color: #0056b3;
  }

  .postbuton{
    background-color: #007bff;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-right: 28px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  