.post {
    border: 1px solid #ddd;
    border-radius: 8px;
    margin: 20px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    width: max-width;
    height: auto;
    @media screen and (max-width: 768px) {
      margin: 10px;
      margin-top: 20px;
      
    }
  }
  
  .namepost {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 10px; */
    padding: 0;
  }
  
  .namepost h3 {
    margin: 0;
    font-size: 1.3rem;
    font-family: 'Montserrat', sans-serif;
    color: #333;
    padding: 0;

    @media screen and (max-width: 768px) {
      font-size: 0.9rem;
    }
  }
  .postcont{
    height: auto;
  }
  
  .datetime {
    display: flex;
    /* flex-direction: column; */
    font-size: 0.8rem;
    color: #888;
    margin: 0;
    padding: 0;

    @media screen and (max-width: 768px) {
      font-size: 0.7rem;
      justify-content: right;
    }
  }

  .datetime p{
    margin: 0;
    padding: 0;

    @media screen and (max-width: 768px) {
      /* position: relative;
      right: -20px; */
      text-align: right;
    }
  }
  
  .postcont p {
    margin: 0;
    font-size: 1.7rem;
    color: #555;
    padding: 0;

    @media screen and (max-width: 768px) {
      font-size: 1.2rem;
      
    }
  }
  
  .likes {
    display: flex;
    align-items: center;
    justify-content: left;
    margin-top: 10px;
  }
  
  .likes button {
    /* background-color: #3498db; */
    color: #fff;
    border: none;
    padding: 0px 0px;
    border-radius: 5px;
    cursor: pointer;
    margin-right: 2px;
    font-size: 1.3rem;
  }
  
  .likes p {
    margin: 0;
    font-size: 1rem;
    color: #555;
    margin-left: 2px;
    margin-right: 10px;
    width: 20px;
  }
  
  .datetime{
    display: flex;
    flex-direction: row;
  }

  .datetime p{
    width: auto;
  }