.home-container {
  padding: 20px;
  height: 100dvh;
  margin-bottom: 10px;
  font-family: 'Poppins', sans-serif;

  @media screen and (max-width: 768px) {
    height: 87vh;
    padding: 10px;
  }
}

.heading{
  @media screen and (max-width: 768px) {
    font-size: 1rem;
    
  }
}


.user-greeting {
  font-size: 1.5em;
  margin-bottom: 10px;
  color: #555;

  @media screen and (max-width: 768px) {
    font-size: 0.8em;


  }
}


.button {
  padding: 12px 24px;
  width:300px;
  font-size: 1.2rem;
  cursor: pointer;
  background-color: brown;
  color: white;
  border: none;
  border-radius: 5px;
  transition: background-color 0.3s ease;
  margin-left: 20px;

  @media screen and (max-width: 768px) {
    font-size: 1rem;
    padding: 20px 40px;
    width: 300px;
    margin: 0;
  }

  @media screen and (max-width: 1318px) {
    font-size: 1rem;
  }
} 

.button:hover {
  background-color: darkred;
}



.homecontent {
  width: 100%;
  height: auto;
  background-color: antiquewhite;
  border-radius: 10px;
}

.tophead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  font-family: 'Popins', sans-serif;
}
.leadhome h3{
  text-align: center;
}
.streakbox {
  padding: 6px 12px;
  padding-left: 12px;
  background-color: rgb(255, 186, 57);
  border-radius: 10px;
  font-size: 0.8rem;
  width: 140px;
  display: flex;
  align-items: center;
  @media screen and (max-width: 768px) {
    width: fit-content;
    margin-left: 20px;
    text-align: center;
  }

  @media screen and (max-width: 1318px) {
    width: 170px;
    
  }
}


.leftmaintop{
  padding-left: 20px;
  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
    padding-left: 0;
    
  }
}

.home2 {
  display: flex;
  flex-direction: column;
  
}

.leadhome{
  height: max-content;
  width: 450px;
  background-color: rgb(249, 223, 190);
  border-radius: 10px;
  padding: 10px;
  margin-right: 20px;
  cursor: pointer;
  @media screen and (max-width: 768px) {
    display: none;
    
  }
}



.admin{
  height: max-content;
  width: 450px;
  background-color: rgb(249, 223, 190);
  border-radius: 10px;
  padding: 10px;
  margin-right: 20px;
  min-height: 266px;
  margin-top: 15px;

  @media screen and (max-width: 768px) {
    width: auto;
    margin-top: 20px;
    margin-right: 10px;
    margin-left: 10px;
  }
}



.admes{
  margin: 0;
  margin-bottom: 10px;
  text-align: center;
  @media screen and (max-width: 768px) {
      font-size: 1rem;
      text-align: center;
      
    }
}

.comled{
  display: none;
  @media screen and (max-width: 768px) {
    display: block;
    
  }
}

.messlistad{
  overflow-y: auto;
  max-height: 240px ;
}

.admincont{
  width: auto;
  height: auto;
  min-height: 100%;
  background-color: white;  
  align-items: center;
  margin-bottom: 10px;
  border-radius: 10px;
  padding: 10px 10px;
  font-size: 0.8rem;
  @media screen and (max-width: 768px) {
    font-size: 0.7rem;
    
  }
}

.mainhome{
  display: flex;
  justify-content: space-between;

  @media screen and (max-width: 768px) {
    flex-direction: column;
    
  }
}

.leftmaintop{
  display: flex;
  width: 100%;
}
.leftmainhome{
  width: 100%;
  height: auto;
  margin-right: 15px
}

.usersbox{
  padding: 6px 12px;
  background-color: white;
  border-radius: 10px;
  margin-left: 15px;
  font-size: 0.7rem;
  width: 160px;
  display: flex;
  align-items: center;
  @media screen and (max-width: 768px) {
    width: fit-content;
    margin-right: 20px;
  }
  @media screen and (max-width: 1318px) {
    width: 200px;
    
  }
}

.usersbox h3,.streakbox h3{
  @media screen and (max-width: 768px) {
    position: relative;
    left: 10px;
    
  }
}

.quotebox{
  background-color: rgb(255, 222, 178);
  width: 100%;
  padding: 10px;
  margin-left: 15px;
  margin-right: 30px;
  border-radius: 10px;

  @media screen and (max-width: 768px) {
    display: none;
  }

}

.comhome{
  width: auto;
  background-color: rgb(255, 254, 254);
  display: flex;
  justify-content: space-between;
  padding: 10px;
  border-radius: 10px;
  align-items: center;
  height: 90px;
  @media screen and (max-width: 768px) {
    padding: 0;
    height: auto;
    width: max-content;
  }
}

.comhome b{
  display: block;
  width: 70%;
  @media screen and (max-width: 768px) {
    display: none;
  }
  
}

.albox{
  @media screen and (max-width: 768px) {
    display: flex;
    justify-content: center;
    
  }
}

.mainhomebot{
  width: 97%;
  padding: 20px;
  height: auto;
  gap: calc(0.5rem + 0.35vw);
  display: flex;
  justify-content: space-around;
  flex-direction: column;

  @media screen and (max-width: 768px) {
    width: fit-content;
    justify-content: center;
  }
}